/* Title */
h1 {
    text-align: center;
    text-decoration: underline;
}

/* button positioning */
#btn {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

/* Button Styling */
button {
    border-radius: 5px;
    margin-bottom: .5rem;
    padding: .5rem;

}

/* That etch-a-sketch red */
body {
    background-color: red;
}


/* Container styling */
#container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    border: 2px solid #000;
    background-color: white;
}

/* Row styling */
.row {
    display: flex;
    flex: 1;
    /* Distribute rows evenly within the container */
    border: .001px solid black;
}

/* Column styling */
.column {
    flex: 1;
    border: .001px solid #ddd;
    aspect-ratio: 1;
    background-color: #f4f4f4;
    transition: background-color 0.2s ease;
}